version: 2
jobs:
  build:
    macos:
      xcode: "9.0"
    steps:
      - checkout
      - run: chmod +x scripts/install_mac_build_dependencies.sh scripts/build_cli_mac.sh scripts/build_pkg_mac.sh
      - run: scripts/install_mac_build_dependencies.sh
      - run: scripts/build_cli_mac.sh
      - store_artifacts:
          path: build/pros-cli.zip
